<section id="employeeList">
  <div class="container p-2">
    <div class="row mt-2">
      <div class="container col-lg-9 col-md-10 col-sm-12 ">
        <app-message></app-message>
        <div class="card p-1">
          <div class="card-body" *ngIf="!employees">
            <img src="/assets/images/preview.jpg" alt="empty list" class="img-fluid w-100">
          </div>
          <div class="card-body" *ngIf="employees">
            <table class="table table-responsive table-hover table-striped">
              <thead>
              <tr>
                <th>No</th>
                <th class="col-3">Name</th>
                <th class="col-4">Email</th>
                <th>Zone</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of employees, let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.zone}}</td>
                <td>{{item.role}}</td>
                <td>{{item.status}}</td>
                <td>
                  <a class="btn btn-outline-info mx-1" [routerLink]="['/employee-edit/' + item._id]"><i class="fa-solid fa-pen-to-square"></i></a>

                  <button class="btn btn-outline-danger mx-1" (click)="deleteEmployee(item._id)"><i class="fa-solid fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
