
<!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/mp4/bg.mp4" type="video/mp4" /></video>
<!-- Masthead-->
<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 py-4 px-lg-0">
      <h1 class="fst-italic lh-1 mb-4">Welcome to our project management site!</h1>
      <p class="mb-5">
        We aim to provide helpful information and resources for project managers of all levels. On our site you'll find tips, templates, articles, and tools to help you plan and execute projects successfully.

        Whether you're new to project management or a seasoned pro, we hope you can find guidance and inspiration here. Feel free to look around and contact us if you have any questions!

        We're glad you're here. Enjoy the site!
      </p>

      <form id="contactForm">
        <!-- Email address input-->
        <div class="row input-group-newsletter">
          <div class="col"><input class="form-control" id="email" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
          <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Notify Me!</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Social Icons-->
<!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
<div class="social-icons">
  <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
  </div>
</div>

